h1 {
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    text-align: right;
}

h4 {
    font-size: 1.2rem;
    text-align: center;
}

.container {
    margin-bottom: 25px;
}

select {
    border: 0px;
}

.circulo {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0d6efd;
    margin: 4px;
    float: left;
}

.table-wrapper {
    height: 250px; 
    overflow-y: scroll;
}

.table-wrapper th{
    position: sticky;
    background: white;
    top: 0;
}

